<%- include('index') %>

<div class='one column row'>
  <div class='breaking_changes'></div>
    <h3><%= T.t('manual_update') %></h3>
    <br />
    <img alt='Package icon' src='img/package.png' />
    <p><%= T.t('breaking_changes_1') %></p>
    <br />
    <button id='release_button' class='ui green button'><%= T.t('download') %></button>
  </div>
</div>

