<div class='github'></div>
  <a href='https://github.com/BellezaEmporium/Championify' target='_blank' rel='noopener noreferrer'>
    <i class='github icon'></i>
    BellezaEmporium, DustinBlackman
  </a>
</div>
<div class='championify_version'>
  <span>v<%= version %></span>
</div>

